Flask
Flask-Login
Flask-WTF
Flask-SQLAlchemy
Werkzeug
PyMySQL
WTForms
email_validator
pandas
numpy
matplotlib
seaborn
scikit-learn

# Dependencias sin versiones fijas
# pip install -r requirements.txt